<div align="center"><%= will_paginate @user %></div>
<% @user.each do |user| %>
    <div class="user-listing">
        <span class="user-img"><%= link_to gravatar_for(user), user_path(user)%></span> 
        <span class="user-name">
         <%= link_to user.username, user_path(user)%> 
        </span><br>
        <em style="margin-left: 70px;"><%= pluralize(user.articles.count, "articulo")%></em>
        <% if logged_in? && current_user.admin? %>
         | <%= link_to "Delete user", users_path, method: :delete, data: {confirm: "Are you sure"} %>
        <%end%>
    </div>   
  
<% end %>
<div align="center"><%= will_paginate @user %></div>