<div class="text-center jumbotron jumbotron_home">
  <div class="container show-case">
    <h1>Hola, Bienvenidos!</h1>
     <div class="container">
      <p class="text-center">
        
          Excel360 es donde puedes resolver tus dudas sobre las funciones de Excel y aprender nuevas funciones.  
          Támbien puedes descargar plantillas gratis para automatizar tus trabajos en Excel.
          <br>
          <hr>
        <h3 style="color:cyan;">Excel360</h3>
        <em>Tu enciclopedía Excel</em>
      </p>
     </div>
  </div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <%= link_to "Excel Blog", articles_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Acerca", about_path, class: "btn btn-primary btn-lg" %>
</div>


<!-- SHOW RECENT POST ON HOME PAGE-->
<div class="section-1-header">
    <hr>
    <h2 class="text-center">Publicaciones recientes</h2>
    <hr>
</div>

    <div class="row"> 
        <% @article.last(4).each do |a| %>
             
            <div class="col-6 col-sm-6 col-lg-6">
                <h2><%= link_to a.title, article_path(a.id)%></h2>
                <em><%= a.created_at%></em>
                <p><%= sanitize a.description[0...150] + "..."%></p>
                <%= link_to "Leer más»", article_path(a.id), class: "btn btn-default" %>
                 <% if logged_in? && (current_user == a.user || current_user.admin?) %>
                   <%= link_to "Edit", edit_article_path(a.id), class: "btn btn-default" %> |
                   <%= link_to "Delete", article_path(a.id), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure"} %>
                 <%end%>
                <hr>
            </div>
        <% end %>
    </div> 
    



<div class="section-2-header">
  <hr>
  <h2 class="text-center">Plantillas recientes</h2>
  <hr>
</div>

<div class="row text-center">
    <h3>CONTROL VACACIONES EXCEL PLANILLA PROFESSIONAL 2018</h3>
    <hr>
    <div class="col-12 col-sm-12 col-lg-12">
        <p>Primero: te podes mover a traves de la hoja con las flechas del teclado ↑↓←→</p>
        <br>
        <img class="imagen" border="0" 
        src="https://ugc.kn3.net/i/origin/https://www.excelfrog.com/tuto/b/1.gif" 
        alt="rapido" title="rapido">
    </div>
</div>