<div class="text-center jumbotron jumbotron_home">
  <div class="container show-case">
    <h1>Hola, Bienvenidos!</h1>
     <div class="container">
      <p class="text-center">
        
          Excel360 es donde puedes resolver tus dudas sobre las funciones de Excel y aprender nuevas funciones.  
          Támbien puedes descargar plantillas gratis para automatizar tus trabajos en Excel.
          <br>
          <hr>
        <h3 style="color:cyan;">Excel360</h3>
        <em>Tu enciclopedía Excel</em>
      </p>
     </div>
  </div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <%= link_to "Excel Blog", articles_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Acerca", about_path, class: "btn btn-primary btn-lg" %>
</div>


<!-- SHOW RECENT POST ON HOME PAGE-->
<div class="section-1-header">
    <hr>
    <h2 class="text-center">Publicaciones recientes</h2>
    <hr>
</div>

    <div class="row"> 
        <% @article.last(2).each do |a| %>
             
            <div class="col-6 col-sm-6 col-lg-6">
                <h2><%= link_to a.title, article_path(a.id)%></h2>
                <em><%= a.created_at%></em>
                <p><%= sanitize a.description[0...150] + "..."%></p>
                <%= link_to "Leer más»", article_path(a.id), class: "btn btn-default" %>
                 <% if logged_in? && (current_user == a.user || current_user.admin?) %>
                   <%= link_to "Edit", edit_article_path(a.id), class: "btn btn-default" %> |
                   <%= link_to "Delete", article_path(a.id), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure"} %>
                 <%end%>
                <hr>
            </div>
        <% end %>
    </div> 
    



<div class="section-2-header">
  <hr>
  <h2 class="text-center">Plantillas recientes</h2>
  <hr>
</div>

<div class="row text-center">
    <h3>CONTROL VACACIONES DE EMPLEADOS EXCEL PLANILLA PROFESSIONAL [2018]</h3>
    <p>¿Necesitas gestionar los <strong>días laborables y festivos de tu empresa</strong>, O eres un <strong>profesional de RR.HH</strong> 
    y siempre tienes problema con las vacaciones de los empleados? Si tu respuesta es <strong>Sí!</strong>, entonces estas en el lugar correcto 
    para resolver tu problema. Este planilla de control de vacaciones en excel no es un simple planilla, pero un
    software completo desarrollado con VBA para ayudarte a tener un buen control de los vacaciones para siempre.
    Es súper eficaz para control de vacaciones de los trabajadores en Excel.</p>
    <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
    <h3>Mira como funciona:</h3>
    <hr>
    <div class="col-12 col-sm-12 col-lg-12">
        <p class="text-left">1º) Descarga la planilla y abrela, te va aparecer una linda ventana con un lindo menu arriba. Haz click 
        en <strong>Configuración</strong>. Aquí es donde puedes configurar la planilla antes de empezar a usarla, ingresando <b>Nombre</b>
        de los empleados, <b>Cedula de identidad</b>, <b>Fecha de contrato</b>, <b>Días vacaciones por año</b> etc.
        Es súper instructivo y facil de usar a simple vista:</p>
        <br>
        <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
        <%= image_tag("GIF1.gif", class: "img-responsive") %>
    </div>
  
    <div class="col-12 col-sm-12 col-lg-12">
        <br>
        <p class="text-left">2º) Una vez terminada la configuración, la planilla esta lista para usar, haz click en <b>Base De Datos</b>.
        Esa parte se usa solo cuando un trabajador pida sus vacaciones. En la parte de las celdas verde es donde se ingresa las informaciones:  <b>Nombre</b>,
         <b>Fecha desde</b>, <b>Fecha hasta</b> y <b>Periodo</b> de las vacaciones. Luego de ingresar esas info, hay que pinchar el boton <b>Insertar</b>
          para que las informaciones quedan guardadas en <b>Base de Datos</b>, el boton <b>Eliminar Ultimo Registro</b> se usa solo cuando hay un error y quieres
           eliminar los ultimos datos insertados.
        </p>
        <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
        <br>
        <%= image_tag("GIF2.gif", class: "img-responsive") %>
    </div>
   
    <div class="col-12 col-sm-12 col-lg-12">
        <br>
        <p class="text-left">3º) Luego viene la parte mágica, <b>Verificación</b>.
        Esa es la parte que te entregue todas las informaciones que necesitas
         en un solo lugar, al solamente elegir un trabajador en la lista desplegable,
         te entrega informaciones como : <b>Fecha Contratación</b>, <b>Antiguëdad laboral</b>, 
         <b>Dias vacaciones acumulados</b> desde la fecha de contrato, <b>Dias vacaciones asignados</b>, 
         <b>Dias vacaciones restantes</b> y abajo hay un informe de todos los detalles de las vacaciones tomadas 
         que se puede imprimir exportar a PDF etc.
        </p>
        <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
        <br>
        <%= image_tag("GIF3.gif", class: "img-responsive") %>
    </div>
    
    <div class="col-12 col-sm-12 col-lg-12">
        <br>
        <p class="text-left">4º) Finalmente viene la parte de <b>Comprobante</b>, 
        en esa parte, solo elegir el nombre de un empleado en la lista desplegable, 
        y te llenara un comprobante que luego puedes imprimir dos copia o exportar 
        a PDF al hacer click sobre uno de los botones <b>Imprimir</b> o <b>Guardar PDF</b> 
        </p>
        <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
        <br>
        <%= image_tag("GIF4.gif", class: "img-responsive") %>
        <a style = "border: 1px solid red; background: black; color: red;" href="https://drive.google.com/open?id=10nxU6F1y--Cqh-f_H5QlLub2hDEUfCuh">DESCARGAR GRATIS</a>
    </div>
</div>
<br>
<br>